.main-content {
    padding-top: 140px; /* Adjust based on the navbar height */
    text-align: center;
    color: #333;
    background-color: #f8f9fa;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}


h1 {
    font-size: 4vw; 
    margin-bottom: 20px;
    color: #1e1e33;
}

/* Responsive Paragraph */
p {
    font-size: 1.2vw; /* Adjust text size dynamically */
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .main-content {
        padding-top: 140px; /* More padding for mobile */
        padding-left: 3%;
        padding-right: 3%;
    }

    h1 {
        font-size: 5vw; /* Increase size on smaller screens */
    }

    p {
        font-size: 4vw; /* Bigger text for readability */
    }
}

@media (max-width: 480px) {
    .main-content {
        padding-top: 160px; /* Further padding for very small screens */
    }

    h1 {
        font-size: 6vw;
    }

    p {
        font-size: 4.5vw;
    }
}
