.card {
    background: #1e1e33;
    padding: 10px;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.p-menubar {
    background-color: transparent;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-menubar .p-menuitem-link {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s ease;
}

.p-menubar .p-menuitem-link:hover {
    color: #ffd700; /* Bright Gold */
}

.p-menubar .p-menuitem-icon {
    color: #ffffff;
}

.p-button {
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
}

.p-button-outlined.p-button-primary {
    border-color: #ffa500; /* Orange */
    color: #ffa500;
}

.p-button-outlined.p-button-primary:hover {
    background-color: #ffa500;
    color: #fff;
}

.flex.gap-2 {
    gap: 0.5rem;
}

.p-menubar-root-list > .p-menuitem {
    margin-right: 15px;
}

.custom-menubar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.scrolable_navbar{
    background-color: #e67f36;
    width: 100vw;
    height: 5%;
}
.scrolable_navbar_sectionOne{
    padding: 2px;
    width: 5vw;
    background-color: #f06909;
    border-radius: 6px;
}
@media (max-width: 768px) {
    .custom-menubar {
        flex-direction: column;
        align-items: flex-start;
    }
    .p-menubar-root-list {
        flex-direction: column;
        width: 100%;
    }
    .p-menubar-root-list > .p-menuitem {
        margin: 10px 0;
    }
    .p-button {
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
    }
}

.number{
    background-color: rgb(196, 101, 13);
    display: flex;
    color: #ffd700;
   
}

.numbercontect{
    justify-content: space-between;
}

.navbar {
    width: 100%;
    background-color: #333;
    color: white;
  }
  
  
  .top-navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(239, 86, 30);
    font-size: 14px;
  }
  
  .number-content {
    display: flex;
  }
  
  .contact-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .contact-item i {
    margin-right: 5px;
  }
  
  
  
  .main-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .main-navbar li {
    margin: 0 15px;
  }
  
  .main-navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .main-navbar a:hover {
    color: #f97316;
  }
  